<div class="card__container">
	<img class="img__card__container" src="../../../assets/images/placeholder-image.png" alt="sem imagem">
	<div class="content__card">
		<span class="material-symbols-outlined">
			thumb_up
		</span>
		<h2 class="card__title">Title</h2>
		<p class="card__desciption">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi.
		</p>
		<div class="card__details">
			<p>
				<span class="material-symbols-outlined">
					person
				</span> Author
			</p>
			<p>
				<span class="material-symbols-outlined">
					calendar_month
				</span>
				01/01/2000
			</p>
		</div>
	</div>
</div>
