@media screen and (max-width:1049px) {
	.card__container {
		margin-top: 20px;
		margin-bottom: 20px;
	}

}

@media screen and (max-width:700px) {
	.card__container, .card__container .img__card__container {
		width: 325px;
	}
}
