<div class="card__container">
	<img class="img__card__container" src="{{ photoCover }}" alt="sem imagem" />
	<div class="content__card">
		<span class="material-symbols-outlined">
			thumb_up
		</span>
		<h2 class="card__title">{{ cardTitle }}</h2>
		<p class="card__desciption">{{ cardDescription }}</p>
		<div class="card__details">
			<p>
				<span class="material-symbols-outlined">
					person
				</span>
				Author
			</p>
			<p>
				<span class="material-symbols-outlined">
					calendar_month
				</span>
				01/01/2000
			</p>
		</div>
	</div>
</div>
