.material-symbols-outlined {
	font-size: 50px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.container__content {
	width: 85%;
	height: 75vh;
	/* border: 1px sol#c1c1c175175; */
	/* border-radius: 15px; */
	margin: 50px auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container__content .content__cover img {
	border: #c1c1c1 solid 5px;
	border-radius: 15px;
	width: 500px;
	min-width: 500px;
	height: 300px;
}

.container__content .content__description p {
	margin-top: 25px;
	color: #c1c1c1;
}

.container__content a span {
	margin-top: 25px;
}
