<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="articles">
	<div class="card__top">
		<div class="card__left">
			<app-big-card
			photoCover="../../../assets/images/228065.jpg"
			cardTitle="My blog made with Angular's last version"
			cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."
			></app-big-card>
		</div>
		<div class="card__rigth">
			<app-small-card
				photoCover="https://images4.alphacoders.com/228/thumbbig-228056.webp"
				cardTitle="Cavaleiros do Zoidaco The Lost Canvas"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				photoCover="https://c4.wallpaperflare.com/wallpaper/931/11/696/dragon-ball-super-saiyan-blue-dragon-ball-super-vegeta-wallpaper-preview.jpg"
				cardTitle="DragonBall Z - nova serie"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				photoCover="../../../assets/images/700487.png"
				cardTitle="My blog made with Angular's last version"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				photoCover="../../../assets/images/700487.png"
				cardTitle="My blog made with Angular's last version"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				photoCover="../../../assets/images/700487.png"
				cardTitle="My blog made with Angular's last version"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				photoCover="../../../assets/images/700487.png"
				cardTitle="My blog made with Angular's last version"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				photoCover="../../../assets/images/700487.png"
				cardTitle="My blog made with Angular's last version"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
		</div>
	</div>
</div>
