<app-menu-title></app-menu-title>
<div class="articles">
	<div class="card__top">
		<div class="card__left">
			<app-big-card
			Id="1"
			photoCover="../../../assets/images/228065.jpg"
			cardTitle="My blog made with Angular's last version"
			cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."
			></app-big-card>
		</div>
		<div class="card__rigth">
			<app-small-card
				Id="2"
				photoCover="https://images4.alphacoders.com/228/thumbbig-228056.webp"
				cardTitle="Cavaleiros do Zoidaco The Lost Canvas"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				Id="3"
				photoCover="https://c4.wallpaperflare.com/wallpaper/931/11/696/dragon-ball-super-saiyan-blue-dragon-ball-super-vegeta-wallpaper-preview.jpg"
				cardTitle="DragonBall Z - nova serie"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				Id="4"
				photoCover="https://images4.alphacoders.com/686/thumbbig-68646.webp"
				cardTitle="My blog made with Angular's last version"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				Id="5"
				photoCover="https://images2.alphacoders.com/194/thumbbig-194190.webp"
				cardTitle="My blog made with Angular's last version"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				Id="6"
				photoCover="https://images4.alphacoders.com/700/700487.png"
				cardTitle="My blog made with Angular's last version"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				Id="7"
				photoCover="https://images6.alphacoders.com/750/thumbbig-750318.webp"
				cardTitle="My blog made with Angular's last version"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
			<app-small-card
				Id="8"
				photoCover="https://images7.alphacoders.com/769/thumbbig-769813.webp"
				cardTitle="My blog made with Angular's last version"
				cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum corrupti nesciunt blanditiis corporis deleniti nam minima aliquam esse asperiores error quisquam aperiam necessitatibus minus natus maiores cupiditate, non nisi."></app-small-card>
		</div>
	</div>
</div>
