<div class="nav__bar__top">
	<!-- <div class="nav__bar__logo">
		<img src="../../../assets/images/placeholder-image.png" alt="sem imagem">
	</div> -->
	<div class="nav__bar__menu">
		<ul>
			<li><a href="https://www.linkedin.com/in/eefracotor/" target="_blank"><img src="../../../assets/images/linkedni.png" /></a></li>
			<li><a href="https://github.com/eefracotor" target="_blank"><img src="../../../assets/images/github.png" /></a></li>
			<!-- <li>Services</li>
			<li>Contact</li> -->
		</ul>
	</div>
</div>
